@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F7F3;
  --card: #FDFCF9;
  --foreground: #171717;
  --secondary: #6A6A6A;
  --border: #D9D6CF;
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.ser{
  font-family: var(--font-serif);
  letter-spacing: 0.05em;
}

.san {
    font-family: var(--font-sans);
  }